nav {
  position: fixed;  right:80px;  top:10px;  z-index:1;
  display:inline-block;
  background-color:rgba(0,0,0,.2)
}
nav ul{
  list-style: none; display:inline-block;
}
nav ul li{
  display:inline-block;
  float: left;
  height:100px;
}
nav ul li:hover{
  background-color: rgba(255,255,255,0.7);
}
nav ul li a{
  transition: .5s;
  text-decoration: none;
  text-align: center;
  width:100px;  height:100px;
  display:block;
  font-size:16px;  font-weight: bold; color:black;
  line-height:100px;
}
nav ul li a:hover{
  border-bottom:8px solid black;
}
nav ul li p{
  text-indent: -9999px; font-size:0;
}
nav a.menu{
  display: none;
}
